<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{ img_url }}" alt="unsplash_img" height="480", width="480">
    <br>
    <br>
    <br>
    <hr>
    <div>
        <h1>New Profile</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="file">Select an image to upload:</label>
            <input type="file" id="file" name="file"><br><br>
            <label for="public_id">Enter a unique public ID for the image:</label>
            <input type="text" id="public_id" name="public_id"><br><br>
            <input type="submit" value="Upload">
        </form>
</body>
</html>